.body {
    margin: 0px;
    /*так и не разобралась почему если подключаю шрифт в body здесь, он не работает..*/
    /*font-family: 'Inter', sans-serif;*/
}

.container {
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto 0;


}

.header-line {
    padding-top: 30px;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

}

.nav-item {
    color: #111111;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin-right: 40px;
    transition: color 0.1s linear;
}

.nav-item:hover {
    color: #F09;
}

.button {
    color: #111111;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid #000;
    padding: 12px 25px;
    transition: color 0.1s linear;
}

.button:hover {
    background-color: #F09;
    color: white;
    border-color: #FF0099;
}

.header-subtitle {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 4px;
    letter-spacing: -0.64px;
    text-align: left;
    position: absolute;
    word-wrap: break-word;
    top: 593px;
    left: 36px;
}

.header-down {
    position: relative;
}

.title {
    width: 778px;
    height: 137px;
    position: absolute;
    left: 36px;
    top: 370px;
}

.title-2 {
    width: 957px;
    height: 139px;
    position: absolute;
    left: 186px;
    top: 495px;
}

.me {
    width: 272px;
    height: 329px;
    position: absolute;
    left: 1206px;
    top: 400px;
}

.h1 {
    height: 141px;
    position: absolute;
    left: 524px;
    top: 878px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -4px;
}

.h1 {
    color: black;
    width: 464px;
}

.content {
    width: 505px;
    height: 44px;
    position: absolute;
    left: 36px;
    top: 1044px;
    max-width: 1440px;
    margin: 0 auto;

}
.tabs {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.tabs-items {
    color: #111111;
    text-decoration: none;
    transition: color 0.1s linear;
    margin-right: 60px;
}
.tabs-body {
    width: 272px;
    height: 272px;
    position: absolute;
    top: 114px;
}
.image-2 {
    width: 272px;
    height: 272px;
    position: absolute;
    top: 0px;
    left: 270px;
    margin-left: 20px;
}

.button-1 {
    width: 45px;
    height: 20px;
    position: absolute;
    border: 1px solid #000;
    padding: 10px 10px 20px 20px;
}
.button-2 {
    width: 120px;
    height: 20px;
    position: absolute;
    left: 86px;
    border: 1px solid #000;
    padding: 10px 10px 20px 20px;
}

.button-3 {
    width: 110px;
    height: 20px;
    position: absolute;
    left: 247px;
    border: 1px solid #000;
    padding: 10px 5px 20px 20px;
}

.image-kino {
    width: 272px;
    height: 272px;
    position: absolute;
    left: 873px;
    top: 0px;
}

.silver-text {
    color: black;
    width: 261px;
    height: 24px;
    position: absolute;
    top: 280px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}

.silver-text-logo {
    color: black;
    width: 261px;
    height: 24px;
    position: absolute;
    left: 294px;
    top: 280px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
}

.kino-text-logo {
    color: black;
    width: 261px;
    height: 24px;
    position: absolute;
    left: 873px;
    top: 280px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}

.mobile-fun {
    width: 272px;
    height: 272px;
    position: absolute;
    left: 582px;
    top: 360px;
}

.mobile-fun-text {
    width: 172px;
    height: 24px;
    position: absolute;
    left: 581px;
    top: 635px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}

.logo-fan-image {
    width: 272px;
    height: 272px;
    position: absolute;
    left: 873px;
    top: 360px;
}

.diplom-image {
    width: 272px;
    height: 272px;
    position: absolute;
    left: 1165px;
    top: 360px;
}

.fun-text {
    width: 172px;
    height: 24px;
    position: absolute;
    left: 873px;
    top: 635px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}

.diplom-text {
    width: 172px;
    height: 24px;
    position: absolute;
    left: 1165px;
    top: 635px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}

.shiz-image {
    width: 272px;
    height: 272px;
    position: absolute;
    top: 750px;
    left: 0px;
}

.fomo-image {
    width: 272px;
    height: 272px;
    position: absolute;
    left: 873px;
    top: 750px;
}

.logo-fomo-image {
    width: 272px;
    height: 272px;
    position: absolute;
    left: 1165px;
    top: 750px;
}

.shiz-text{
    width: 172px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 1030px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}
.fomo-text{
    width: 172px;
    height: 24px;
    position: absolute;
    left: 873px;
    top: 1030px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}
.fomo-logo-text{
    width: 172px;
    height: 24px;
    position: absolute;
    left: 1165px;
    top: 1030px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: -1px;
}

.h1-2 {
    position: absolute;
    left: 372px;
    top: 2316px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -4px;
}

.container-2 {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2320px 36px;
}

.name1 {
    position: relative;
    border: 1px solid #000;
    padding: 10px 10px 10px 1200px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto 0;
}

.footer-title {
    height: 141px;
    position: absolute;
    left: 36px;
    top: 3300px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -4px;
}

.footer-subtitle {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 4px;
    letter-spacing: -0.64px;
    text-align: left;
    position: absolute;
    top: 3420px;
    left: 36px;
}

.contact {
    top: 1000px;
    left: 345px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 20px;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

